form {
    width: 200px;
    margin: 20px auto;
}

input {
    width: 100%;
    padding: 10px;
}


.gridContainer{
    /* border: 2px solid green; */
    height: 100vh;
    /* background-image: url(./pokedex.png); */
    display: grid;
    grid-template-columns: [x0]1fr [x1]1fr [x2]1fr [x3]1fr  [x4] ;
    grid-template-rows: [y0]15vh [y1]75vh [y2]8vh [y3];
}
.header{
    background-color:red;
    grid-column: x0 / x6;
    grid-row: y0 / y1;
    color: white;
    display: flex;
    justify-content: center;
    font-size: x-large;
    padding-top: 4vh;

}
.izq{
    display: flex;
    grid-column: x0 / x1;
    grid-row: y1 / y3;
    background-image: url(./izq.PNG);
    margin-right: 15%;
    
}
.dcha{
    display: flex;
    grid-column: x3 / x4;
    grid-row: y1 / y3;
    background-image: url(./dcha.PNG);
    margin-left: 15%;
}

.pokedexDiv{
    /* border: 9px solid red; */
    background-image: url(./pokedexv3.jpg);
    background-size:cover;
    grid-column: x1 / x3;
    grid-row: y1 / y2;
    display: grid;
    grid-template-columns: [x0]1fr [x1]1fr [x2] ;
    grid-template-rows: [y0]1fr [y1]2fr [y2]1fr [y3];
    margin-top: 2%;
}
.poke-card {
    position: relative;
    height: fit-content;
    font-family: 'Roboto Mono', monospace;
    max-width: 300px;
    border-radius: 4px;
    color: #000;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    background-color: #FFF;
    /* border: 1px solid black; */
    grid-column: x0 / x1;
    grid-row: y1 / y2;
    display: grid;
    margin-top: 5%;
}
.poke-card2 {
    position: relative;
    height: fit-content;
    font-family: 'Roboto Mono', monospace;
    max-width: 300px;
    border-radius: 4px;
    color: #000;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    background-color: #FFF;
    /* border: 1px solid black; */
    grid-column: x1 / x2;
    grid-row: y1 / y2;
    display: grid;
    margin-top: 8%;
    background-color: rgb(48, 250, 4);
}

.form{
    grid-column: x1 / x2;
    grid-row: y2 / y3;
    margin-top: 14%;
    display: grid;
    grid-template-columns: [x0]5fr [x1]4fr [x2] 5fr [x3];
    grid-template-rows: [y0]1fr [y1];
    /* border: 2px solid green; */
    width: 60%;
    margin-left: 22%;
    margin-bottom: 13%;

    
}
.input{
    grid-column: x0 / x1;
    grid-row: y0 / y1;
    background-color:rgba(128, 124, 0, 0.004);
    border: none;
}
.button{
    grid-column: x2 / x3;
    grid-row: y0 / y1;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
.img-container {
    position: relative;
    width: 150px;
    /* height: 100px; */
    margin: 8px auto;

}

.poke-stats div {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 3px;
    font-size: 13px;
    
}

.poke-types div {
    padding: 4px;
    margin: 4px;
    border-radius: 4px;
    border: 1px dashed black;
}

.poke-img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: -11%;
}